@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import url("//db.onlinewebfonts.com/c/501e03d4c0303f394033bcaf435f4b3e?family=Suisse+Int'l+Medium");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", sans-serif;
}

.section__single-topic-sidebar {
  padding-top: 16px;
  padding-bottom: 36px;
}

@media (max-width: 600px) {
  .single-topic-container {
    flex-direction: column-reverse !important;
  }

  .section__single-topic-sidebar {
    padding-top: 8px;
    padding-bottom: 18px;
  }
}
