@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import url("//db.onlinewebfonts.com/c/501e03d4c0303f394033bcaf435f4b3e?family=Suisse+Int'l+Medium");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", sans-serif;
}

.section__single-topic-sidebar {
  padding-top: 16px;
  padding-bottom: 36px;
}

.delete-chip-icon {
  font-size: 22px !important;
  color: #17c37b !important;
}

.heart-box {
  -webkit-animation: 1s infinite beatHeart;
  animation: 1s infinite beatHeart;
}

@-webkit-keyframes beatHeart {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes beatHeart {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  .single-topic-container {
    flex-direction: column-reverse !important;
  }

  .section__single-topic-sidebar {
    padding-top: 8px;
    padding-bottom: 18px;
  }
}
